* {
  box-sizing: border-box;
}

body {
  align-items: stretch;
  background-color: rgba(0, 0, 255, .1);
  display: flex;
  flex-flow: row;
  justify-content: center;
}

main {
  flex: 1;
}

h2:first-of-type {
  margin-top: 0;
}

hr {
  margin: 16px 0;
}

form {
  display: flex;
  flex-flow: column;
  width: 100%;
}

button {
  border-radius: 16px;
  cursor: pointer;
  font-size: 16px;
  line-height: 1;
  margin-left: 8px;
  outline: none;
  padding: 8px 16px;
}

button[type=submit] {
  background-color: rgba(255, 255, 0, .4);
}

button#download {
  background-color: rgba(0, 255, 0, .4);
}

.form__areas {
  display: flex;
}

textarea:first-of-type {
  margin-left: 0;
}

textarea {
  flex: 1;
  font-size: 12px;
  margin-left: 8px;
}

#qst {
  background-color: #eee;
  outline: none;
}

input[type=file] {
  background-color: #777;
  color: #ffe;
  cursor: pointer;
  font-size: 16px;
  margin-left: 8px;
  padding: 6px;
}
